* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagina-toda {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.fundo {
    border: rgb(31, 30, 30) 1px solid;
    display: flex;
}

.links {
    padding-left: 5vh;
    padding-top: 5vh;
    justify-content: center;
    align-items: center;
    border: rgb(31, 30, 30) 1px solid;
}
.links a {
    font-size: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    
}

.link1 {
    padding-top: 20px;
    
}
.link2 {
    padding-top: 20px;
    
}
.link3 {
    padding-top: 20px;
    
}

.link4 {
    padding-top: 20px;
      
}



.esquerda {
    border: rgb(31, 30, 30) 1px solid;
    width: 60vh;
}


.utilizar-grid {

}

.container-bolo {

}


header {
    height: 100px;
    background-color: mediumvioletred;
    display:flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
}

.botao {
    width: 200px;
    height: 50px;

}

main {
    background-color: #f2d0e0;
    flex-grow: 1;
}

footer {
    background-color: mediumvioletred;
    height: 15vh;
    justify-content: center;
    align-items: center;
    text-align: center;

}