* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagina-toda {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}


header {
    height: 100px;
    background-color: mediumvioletred;
    display:flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    font-size: 1.7vw;
    font-weight: 100;
}

header h1 {
    margin: 1vw;
    
}


.botao {
    width: 19vw;
    height: 4vh
}

/* Botoes da lateral da pagina*/


.fundo {
    
    display: flex;
    height: 100%;
    padding: 10px;
}

.esquerda {
   
    width: 25%;
}

.links {
    display: flex;
    padding: 2%;
    width: 100%;
    height: 10%;
}

.links img {
    width: 20%;
    height: 80%;
}

.seta {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-end
}

.foto {
    display: flex;
    width: 50%;
    height: 100%;
}

.link {
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    
}


/* -----------------------------------------------  */


.direita {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
}


.bolo {
    background-color: aliceblue;
    width: 95%;
    height: 95%;
    margin: 2px 5px;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.5vw;
    box-shadow: 2px 2px 2px black;
}

.bolo img {
    width: 100%;
    height: 70%;
}

.bolo h4 {
    text-align: center;
    font-size: 1.5vw;
}


main {
    background-color: #f2d0e0;
}

footer {
    display: flex;
    background-color: mediumvioletred;
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}