

.plano-fundo {
    background-image:url(../projeto-blackjack/fundo/imagem.jpg);
    background-size: 100%;
}
.inicio {
    color: rgb(5, 5, 5);
    background:rgb(251, 251, 251);
}

.botao {
   background: #000000;
   background-image: -webkit-linear-gradient(top, #000000, #5170A3);
   background-image: -moz-linear-gradient(top, #000000, #5170A3);
   background-image: -ms-linear-gradient(top, #000000, #5170A3);
   background-image: -o-linear-gradient(top, #000000, #5170A3);
   background-image: -webkit-gradient(to bottom, #000000, #5170A3);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 30px;
   font-weight: 200;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
   -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
   box-shadow: 1px 1px 20px 0 #FFFFFF;
   text-shadow: 1px 1px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.botao:hover {
   border: solid #FFFFFF 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #3b4047, #3D94F6);
   background-image: -moz-linear-gradient(top, #39404b, #3D94F6);
   background-image: -ms-linear-gradient(top, rgb(56, 59, 65), #3D94F6);
   background-image: -o-linear-gradient(top, #2b2d2f, #3D94F6);
   background-image: -webkit-gradient(to bottom, #40444b, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}