*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    display: flex;
    background-color: rgb(239, 132, 58);
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    height: 100px;
    
}


main {
    display:flex;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 10px;
    justify-content: center;
    height: 100vh;
}

.titulo-video {
    font-size: 40px;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 0 100px; /* padding so da lateral '-' */ 
    align-items: center;
    height: 100px;
}

video {
    height: 90vh;
}

.footer-container {
    background-color: #323b3e;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100px;
}